Package: com.blue.performanceplus
Name: PerformancePlus
Version: 1.0.2
Architecture: iphoneos-arm64
Description: Performance and system status tweak
Maintainer: Blue
Author: Blue
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
